<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowPluginLinks</key>
	<true/>
	<key>bdToBookmarkAliasUpgrade</key>
	<true/>
	<key>createSpotlightIndex</key>
	<true/>
	<key>dbVersion</key>
	<string>7</string>
	<key>defaultPage</key>
	<string>Index</string>
	<key>defaultUUID</key>
	<string>4980bce0-8942-4a26-bcdd-984f3a82bf2b</string>
	<key>expectedPageCount</key>
	<integer>11</integer>
	<key>lastPDFExportPagePresetName</key>
	<string>iso-a4</string>
	<key>lastWebExportOutputURLData</key>
	<data>
	Ym9va9ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAqAIA
	AAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAG1hc29uAAAABAAAAAEBAABDb2RlCQAAAAEB
	AABtYXNvbi1nZW0AAAAQAAAAAQEAAFJFQURNRS1tYXNvbi1nZW0UAAAAAQYAAAQAAAAU
	AAAAJAAAADAAAABEAAAACAAAAAQDAAD1kwIAAAAAAAgAAAAEAwAAnScGAAAAAAAIAAAA
	BAMAAITASwAAAAAACAAAAAQDAABv2mgGAAAAAAgAAAAEAwAAy9poBgAAAAAUAAAAAQYA
	AHgAAACIAAAAmAAAAKgAAAC4AAAACAAAAAAEAABBvFMY4wAAABgAAAABAgAAAgAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAEAAAAAwMAAAEAAAAIAAAABAMAAAMAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
	CAAAAAQDAAAAsIPC6AAAAAgAAAAABAAAQbnylHkAAAAkAAAAAQEAAEEwQjREMDcyLUM4
	NUEtMzFEOC1CQjVGLUE2MzExNDBCQzIwQhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAvQAAAAECAABjZmY4NDlhNjZmYmNlMzkwYzVkMWViMDhj
	NTdlYWZhZDllMzg0ZjM3OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7
	Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMDI7
	MDAwMDAwMDAwNjY4ZGFjYjsvdXNlcnMvbWFzb24vY29kZS9tYXNvbi1nZW0vcmVhZG1l
	LW1hc29uLWdlbQAAAADwAAAA/v///wEAAAAAAAAAEwAAAAQQAABcAAAAAAAAAAUQAADI
	AAAAAAAAABAQAAD0AAAAAAAAAEAQAADkAAAAAAAAAFQQAAAcAQAAAAAAAFUQAAAcAQAA
	AAAAAFYQAAAUAQAAAAAAAAIgAADUAQAAAAAAAAUgAABEAQAAAAAAABAgAABUAQAAAAAA
	ABEgAACIAQAAAAAAABIgAABoAQAAAAAAABMgAAB4AQAAAAAAACAgAAC0AQAAAAAAADAg
	AAAUAQAAAAAAAAHAAAAoAQAAAAAAABHAAAAUAAAAAAAAABLAAAA4AQAAAAAAAIDwAADg
	AQAAAAAAAA==
	</data>
	<key>localWebAccess</key>
	<false/>
	<key>openWindows</key>
	<array>
		<dict>
			<key>displayUUID</key>
			<string>4980bce0-8942-4a26-bcdd-984f3a82bf2b</string>
			<key>drawerOpen</key>
			<false/>
			<key>openUUIDProperties</key>
			<array>
				<dict>
					<key>itemUUID</key>
					<string>4980bce0-8942-4a26-bcdd-984f3a82bf2b</string>
					<key>rulerVisible</key>
					<true/>
					<key>selectedRange</key>
					<string>{781, 0}</string>
					<key>visibleGlyphs</key>
					<string>{0, 781}</string>
					<key>zoomScale</key>
					<real>1</real>
				</dict>
			</array>
			<key>windowFrame</key>
			<string>{{197, 58}, {1591, 1359}}</string>
		</dict>
	</array>
	<key>skIndexVersion</key>
	<integer>7</integer>
	<key>updatedFMPageToRealUTIs</key>
	<true/>
	<key>updatedSpecialPages3</key>
	<true/>
	<key>uuid</key>
	<string>434fefae-d6d6-41db-a230-7cc77e7437d8</string>
</dict>
</plist>
