<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict/>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-01-23T03:13:26Z</date>
	<key>displayName</key>
	<string>The Fine Documentation</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>the fine documentation</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-01-23T03:13:26Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.fm.url</string>
	<key>uuid</key>
	<string>e997ef8c-7908-471d-b31e-8c832e0dc047</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
