<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>IT-PC-MACPRO-002</string>
		<key>lastEditingUserName</key>
		<string>mason</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-05-16T07:34:10Z</date>
	<key>dataHash</key>
	<string>07dd60e9c3fd895ebf71897124403fffa523c226</string>
	<key>displayName</key>
	<string>revisiting this project to implement Derployer</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>revisiting this project to implement derployer</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-05-16T07:36:13Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>61c6c772-bc30-49e0-89fd-1529169453dd</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
