<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>MacBook Pro No. 5</string>
		<key>lastEditingUserName</key>
		<string>mason</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-01-09T06:55:02Z</date>
	<key>dataHash</key>
	<string>e20b174f547d0ac41895b270c8e5058a1f0603bc</string>
	<key>displayName</key>
	<string>figure out how to conveniently work on the gem and a project using it at the same time</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>figure out how to conveniently work on the gem and a project using it at the same time</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-01-09T07:12:53Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>62271946-0d5f-4224-b492-88450eaa5aed</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
