<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict/>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-01-08T23:40:57Z</date>
	<key>displayName</key>
	<string>Ways to specify a local gem in Gemfile</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>ways to specify a local gem in gemfile</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-01-08T23:40:57Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.fm.url</string>
	<key>uuid</key>
	<string>63888e67-ce86-4428-8bad-58dfec249f8f</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
