<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Mac Pro No. 5</string>
		<key>lastEditingUserName</key>
		<string>mason</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-01-23T13:32:49Z</date>
	<key>dataHash</key>
	<string>fe6c0f45e7dcad475dc6c8ca556947d2983ef599</string>
	<key>displayName</key>
	<string>my notes on installing ruby manually 2016-01-23</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>my notes on installing ruby manually 2016-01-23</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-01-23T13:49:50Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>1a381ccc-8e4a-4f2b-86b2-887737699949</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
