<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Mac Pro No. 5</string>
		<key>lastEditingUserName</key>
		<string>mason</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-01-26T12:12:05Z</date>
	<key>dataHash</key>
	<string>1d35f53b30e778d1be0b27ccc22713c31b726a91</string>
	<key>displayName</key>
	<string>reiminscence about defconf4</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>reiminscence about defconf4</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-01-26T13:13:37Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>846e4273-3fdc-45f2-a07f-37babde82689</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
